<div class="dash-wrapper">
  <div
    class="side-menu"
    [ngClass]="{ 'hide-menu': closeMenu, 'view-menu-mobile': !closeMenu }"
  >
    <app-side-menu (closeMenuOut)="onclickedbtn($event)"></app-side-menu>
  </div>
  <div class="open-menu" [ngClass]="{ 'appear-open-icon-menu': closeMenu }">
    <span (click)="openMenu()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="44"
        height="44"
        viewBox="0 0 44 44"
        fill="none"
      >
        <rect width="44" height="44" fill="#535659" />
        <g clip-path="url(#clip0_776_1406)">
          <path
            d="M14.9453 15.964H29.0525"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M14.9453 21.6783H29.0525"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M14.9453 27.3926H29.0525"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
        <defs>
          <clipPath id="clip0_776_1406">
            <rect
              width="16"
              height="16"
              fill="white"
              transform="translate(14 14)"
            />
          </clipPath>
        </defs>
      </svg>
    </span>
  </div>
  <div class="dash-content">
    <app-dashboard-nav
      (closeNotificationOut)="onclickedbtnNoti($event)"
    ></app-dashboard-nav>
    <router-outlet></router-outlet>
  </div>

  <div
    class="overlay-notifications"
    [ngClass]="{ 'view-overlay': closeNotificationMenu }"
  ></div>
</div>
