@import "../../style/variables/variables";
.form-group {
    margin-bottom: 12px;
    label {
        color: $primary-color;
        font-size: 18px;
        margin-bottom: 6px;
        font-weight: bold;
    }
    input {
        background: #f2f2f2 0% 0% no-repeat padding-box;
        border: 1px solid #317372;
        border-radius: 15px;
        width: 100%;
        height: 52px;
        padding: 10px;
    }
    .colored-input {
        background: #f0f7f8 0% 0% no-repeat padding-box;
        border-radius: 15px;
        border: 0;
    }
}
