// table
.table-container {
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: unset;
    border-spacing: 0;
    thead {
      overflow: hidden;
      tr {
        th {
          color: #523203;
          border-radius: 8px;
          border-top: 1px solid #ad7d11;
          border-bottom: 1px solid #ad7d11;

          border-radius: 0;

          &:first-of-type {
            border-right: 1px solid #ad7d11;
            border-top: 1px solid #ad7d11;
            border-bottom: 1px solid #ad7d11;
            border-radius: 0 8px 8px 0;
            [dir="ltr"] & {
              border-radius: 8px 0 0 8px;
              border-right: 0;
              border-left: 1px solid #ad7d11;
            }
          }

          &:last-of-type {
            border-left: 1px solid #ad7d11;
            border-top: 1px solid #ad7d11;
            border-bottom: 1px solid #ad7d11;
            border-radius: 8px 0 0 8px;
            [dir="ltr"] & {
              border-radius: 0 8px 8px 0;
              border-left: 0;
              border-right: 1px solid #ad7d11;
            }
          }
        }
      }
    }

    th,
    td {
      padding: 22px;
      font-size: 14px;
      a {
        color: #535659;
        cursor: pointer;
      }
    }

    tbody {
      border-collapse: unset;
      tr {
        &:nth-of-type(even) {
          background: #f4f5f5;
        }
        td {
          &:first-of-type {
            color: #535659;
            border-radius: 0 8px 8px 0;
            [dir="ltr"] & {
              border-radius: 8px 0 0 8px;
            }
          }
          &:last-of-type {
            border-radius: 8px 0 0 8px;
          }
        }
      }
    }
  }
}
