.no-data-found {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 103px);
    align-items: center;
    flex-direction: column;

    span {
        background: #d4d6d8;
        height: 84px;
        width: 84px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    p {
        color: #a1a5aa;
        font-size: 16px;
        margin: 20px 0;
        text-align: center;
    }
}
