<div class="profile-wrapper">
  <div class="page-content">
    <app-current-balance></app-current-balance>

    <div class="title">الملف الشخصي</div>

    <div class="box raduis-box">
      <div class="head-img">
        <img src="../../../../../../assets/images/profile-head.jpeg" alt="" />
      </div>
      <div class="profile-icon">
        <img src="../../../../../../assets/images/profile-icon.png" alt="" />
      </div>
      <div class="details">
        <div class="row">
          <div class="col-3 mb-5">
            <div class="detail-col">
              <h2>رقم الهوية</h2>
              <span> 1573333333 </span>
            </div>
          </div>
          <div class="col-3 mb-5">
            <div class="detail-col">
              <h2>ايبان</h2>
              <span> 1573333333 </span>
            </div>
          </div>
          <div class="col-3 mb-5">
            <div class="detail-col">
              <h2>الاسم عربي</h2>
              <span> مصطفى محمد أحمد إبراهيم </span>
            </div>
          </div>
          <div class="col-3 mb-5">
            <div class="detail-col">
              <h2>الاسم إنجليزي</h2>
              <span> Mostafa Mohamed Ahmed Ibrahem </span>
            </div>
          </div>
          <div class="col-3">
            <div class="detail-col">
              <h2>الاسم إنجليزي</h2>
              <span> Mostafa Mohamed Ahmed Ibrahem </span>
            </div>
          </div>
          <div class="col-3">
            <div class="detail-col">
              <h2>الاسم إنجليزي</h2>
              <span> Mostafa Mohamed Ahmed Ibrahem </span>
            </div>
          </div>
          <div class="col-3">
            <div class="detail-col">
              <h2>الاسم إنجليزي</h2>
              <span> Mostafa Mohamed Ahmed Ibrahem </span>
            </div>
          </div>
          <div class="col-3">
            <div class="detail-col">
              <h2>الاسم إنجليزي</h2>
              <span> Mostafa Mohamed Ahmed Ibrahem </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wallets-carts">
      <div class="row">
        <div class="col-8">ss</div>
        <div class="col-4">
          <h1 class="title">أخر العمليات</h1>

          <div class="box raduis-box info">
            <a> أظهر الكل </a>
            <div class="acc-row">
              <h3>01-01-2023</h3>
              <div class="d-flex align-items-center justify-content-between">
                <p>شحن رصيد</p>
                <span> 1,253,256,000 </span>
              </div>
            </div>
            <div class="acc-row">
              <h3>01-01-2023</h3>
              <div class="d-flex align-items-center justify-content-between">
                <p>شحن رصيد</p>
                <span> 1,253,256,000 </span>
              </div>
            </div>
            <div class="acc-row">
              <h3>01-01-2023</h3>
              <div class="d-flex align-items-center justify-content-between">
                <p>شحن رصيد</p>
                <span> 1,253,256,000 </span>
              </div>
            </div>
            <div class="acc-row">
              <h3>01-01-2023</h3>
              <div class="d-flex align-items-center justify-content-between">
                <p>شحن رصيد</p>
                <span> 1,253,256,000 </span>
              </div>
            </div>
            <div class="acc-row">
              <h3>01-01-2023</h3>
              <div class="d-flex align-items-center justify-content-between">
                <p>شحن رصيد</p>
                <span> 1,253,256,000 </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
