@import "../variables/variables";
.home-dashbaord-wrapper {
    margin: 32px 32px 0 32px;
    @media (max-width: 768px) {
        margin: 18px;
    }
    .complete-register-msg {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #f5f0e6;
        padding: 16px 20px;
        border-radius: 12px;
        height: 80px;
        margin-bottom: 32px;
        @media (max-width: 992px) {
            height: auto;
        }
        @media (max-width: 480px) {
            display: block;
        }
        .wraning-msg {
            display: flex;
            align-items: center;
            @media (max-width: 480px) {
                margin-bottom: 20px;
            }
            p {
                margin: 0;
                width: 65%;
            }
            .wraning-icon {
                background-color: #fff;
                border-radius: 6px;
                margin-inline-end: 12px;
                height: 48px;
                width: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 22px;
                }
            }
        }
    }
}
// tabs
.tabs-home {
    .mat-tab-body {
        padding: 32px;
        background: #f4f4f5;
        @media (max-width: 420px) {
            padding: 10px;
        }
    }
    .mat-tab-labels {
        width: 500px;
        @media (max-width: 768px) {
            width: auto;
        }
    }
    .mat-tab-label {
        .mat-tab-label-content {
            font-family: Din_Bold;
            font-size: 20px;
            span {
                margin-inline-start: 6px;
                border: 1px solid;
                background: #a1a5aa;
                color: #fff;
                height: 35px;
                width: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 16px;
                // @media (max-width: 768px) {
                //     width: 25px;
                //     height: 25px;
                // }
            }
            @media (max-width: 768px) {
                font-size: 15px;
            }
        }
        [dir="ltr"] & {
            min-width: 230px;
        }
    }
    .mat-tab-label-active {
        opacity: 1;
        .mat-tab-label-content {
            span {
                background: #000;
                color: #fff;
            }
        }
    }
    .mat-ink-bar {
        background-color: #000 !important;
    }
    .mat-tab-label {
        height: 65px;
        margin-inline-start: 32px;
        @media (max-width: 768px) {
            margin: 0;
            padding: 0;
        }
    }
}

// statistics
.statistics {
    .statistic-box {
        border: 1px solid #efeff0;
        height: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 12px;
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: translateY(-10px);
        }
        img {
            max-width: 62px;
            @media (min-width: 1441px) {
                max-width: 72px;
            }
        }
        h2 {
            text-align: center;
            color: #535659;
            font-size: 14px;
            // margin: 24px 0 16px 0;
            line-height: 1.8;
            font-family: Din_Bold;
            width: 20%;
            margin: 0 auto;
            margin-top: 24px;
            margin-bottom: 16px;
        }
        .number {
            h3 {
                color: #535659;
                font-size: 30px;
                display: block;
                margin-bottom: -4px;
                font-family: Din_Bold;
            }
            span {
                color: #a1a5aa;
                font-size: 10px;
                border: 1px solid #d4d6d8;
                border-radius: 4px;
                padding: 1px 3px;
                width: fit-content;
                margin: 0;
            }
        }
    }
}

// performance-numbers
.performance-numbers {
    margin-top: 24px;
    .performance-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #efeff0;
        border-radius: 12px;
        height: 93px;
        .txt {
            display: flex;
            align-items: center;
            white-space: nowrap;

            h1 {
                color: #151616;
                font-size: 18px;
                margin: 0;
                margin-inline-end: 6px;
                padding-inline-start: 24px;
                font-family: Din_Bold;
            }
            img {
                max-width: 18px;
            }
        }
        @media (max-width: 768px) {
            display: block;
            padding: 20px 0 0 0;
            height: auto;
        }
    }
}

//profits
.profits {
    border: 1px solid #efeff0;
    border-radius: 12px;
    margin-top: 24px;
    padding: 24px;
    min-height: 330px;
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding-top: 50px;

        img {
            max-width: 84px;
        }

        p {
            text-align: center;
            margin: 0;
            color: #a1a5aa;
            font-size: 16px;
            font-weight: 500;
            margin-top: 14px;
        }
    }
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            margin: 0;
            font-size: 18px;
            font-family: Din_Bold;
            color: $text-color;
        }
        span {
            color: #535659;
        }
        @media (max-width: 768px) {
            display: block;
        }
    }
    .actions {
        display: flex;
        align-items: center;
        @media (max-width: 520px) {
            display: block;
            margin-top: 20px;
        }
        .year {
            border: 1px solid #e4e5e7;
            padding: 8px 14px;
            border-radius: 8px;
            color: #71767a;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            width: 90px;
            height: 40px;
            margin-inline-start: 20px;
            @media (max-width: 520px) {
                margin-top: 20px;
                width: 190px;
                margin-inline-start: 0;
            }
        }
    }
}

// override .invest-box

.actions {
    .mat-form-field-label-wrapper {
        right: 0 !important;
        [dir="ltr"] & {
            right: unset !important;
            left: 0 !important;
        }
    }
}

.language {
    display: flex;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    img {
        max-width: 16px;
    }
    span {
        color: #a1a5aa;
        font-size: 14px;
        margin-inline-start: 6px;
    }
}
