.no-search-result {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon {
        width: 80px;
        height: 80px;
        background-color: #d4d6d8;
        border-radius: 50%;
        padding: 20px;
        margin-bottom: 14px;
    }
    p {
        color: #a1a5aa;
        font-size: 18px;
    }

    button {
    }
}
