@import "../../../../../assets/style/variables/variables";

.dashboard-nav-wrapper {
    display: flex;
    align-items: center;
    padding: 32px 32px 0 32px;
    justify-content: end;

    @media (max-width: 992px) {
        display: block;
        padding: 0 12px;
    }

    .txt {
        div {
            display: flex;
            align-items: center;
            h1 {
                font-size: 30px;
                color: $text-color;
                margin: 0;
                span {
                    &:nth-of-type(1) {
                        font-family: Din_Bold;
                    }
                }
                @media (max-width: 768px) {
                    font-size: 20px;
                }
            }
            a {
                margin-inline-start: 40px;
                @media (max-width: 480px) {
                    margin-inline-start: 15px;
                }
            }
        }
        img {
            max-width: 16px;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 992px) {
            justify-content: start;
            position: absolute;
            top: 10px;
            left: 15px;
        }

        .language {
            display: flex;
            cursor: pointer;
            img {
                max-width: 16px;
            }
            span {
                color: #a1a5aa;
                font-size: 14px;
                margin-inline-start: 6px;
            }
        }
        .log-out {
            color: #535659;
            font-size: 14px;
            border: 1px solid #e4e5e7;
            padding: 12px 24px;
            background: transparent;
            border-radius: 8px;
            margin: 0 12px;
        }
        @media (max-width: 992px) {
            margin: 20px 0;
        }
    }

    // notification

    .notification {
        img {
            cursor: pointer;
        }
        .notifiations-dropdown {
            position: absolute;
            left: 0;
            width: 560px;
            background: #fff;
            padding: 24px;
            border-radius: 12px;
            z-index: 2222;
            box-shadow: 0px 25px 50px -12px #00000040;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            top: -10px;
            @media (max-width: 360px) {
                width: 320px;
                right: -52px;
            }
            @media (min-width: 360.1px) and (max-width: 768px) {
                width: 350px;
                right: -82px;
            }

            .head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 24px;
                h1 {
                    color: #151616;
                    font-size: 20px;
                }
            }
            .content {
                .notification-row {
                    border: 1px solid #efeff0;
                    border-radius: 12px;
                    padding: 16px 20px;
                    margin-bottom: 4px;
                    h1 {
                        color: #535659;
                        font-size: 16px;
                        margin-bottom: 12px;
                    }
                    p {
                        span {
                            color: #a1a5aa;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .appear-notifiations-dropdown {
            opacity: 1;
            visibility: visible;
            top: 40px;
            overflow: hidden;
            @media (max-width: 768px) {
                top: 50px;
            }
        }
        .link {
            background: #f9f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px;
            margin: 0 -24px -24px -24px;
            height: 64px;

            a {
                color: #a1a5aa;
                font-size: 16px;
                font-family: Din_Bold;
                display: block;
                margin-inline-end: 6px;
                cursor: pointer;
            }
        }
    }
}

p {
    margin: 0;
    span {
        color: #535659;
        font-size: 12px;
        margin-inline-start: 5px;
    }
    img {
        max-width: 14px;
    }
}

.prev-page {
    color: #535659;
    font-size: 12px;
    font-family: Zarid_Serif_Regular;
}
.current-page-span {
    color: #71767a;
    font-size: 12px;
}

.notif-number {
    background: #c93b3b 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    height: 20px;
    display: flex;
    width: 26px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 22px;
    right: -13px;
}
