<div class="dashboard-nav-wrapper">
  <div class="actions">
    <div class="notification position-relative">
      <div class="position-relative">
        <span (click)="viewDropNotifiations()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="44"
            height="40"
            viewBox="0 0 44 40"
            fill="none"
          >
            <rect
              x="0.5"
              y="0.5"
              width="43"
              height="39"
              rx="7.5"
              fill="white"
            />
            <g clip-path="url(#clip0_434_3845)">
              <path
                d="M20.1094 27.793C20.4706 28.4665 21.1813 28.9245 21.999 28.9245C22.8167 28.9245 23.5275 28.4665 23.8887 27.793"
                stroke="#317372"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.0876 12.6883C19.1248 11.6511 20.5316 11.0684 21.9985 11.0684C23.4654 11.0684 24.8721 11.6511 25.9094 12.6883C26.9466 13.7255 27.5293 15.1323 27.5293 16.5992C27.5293 17.4623 27.6718 18.2733 27.886 19.1028C27.946 19.2906 28.0122 19.4678 28.0833 19.635C28.4148 20.4146 29.3273 20.6807 30.0083 21.1848C31.0248 21.9372 30.8282 23.5473 29.9827 24.1724C29.9827 24.1724 28.6178 25.3541 21.9985 25.3541C15.3792 25.3541 14.0142 24.1724 14.0142 24.1724C13.1688 23.5473 12.9723 21.9372 13.9887 21.1848C14.6696 20.6807 15.5822 20.4147 15.9137 19.635C16.2442 18.8579 16.4677 17.8637 16.4677 16.5992C16.4677 15.1323 17.0504 13.7255 18.0876 12.6883Z"
                stroke="#317372"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <rect
              x="0.5"
              y="0.5"
              width="43"
              height="39"
              rx="7.5"
              stroke="white"
            />
            <defs>
              <clipPath id="clip0_434_3845">
                <rect
                  width="20"
                  height="20"
                  fill="white"
                  transform="translate(12 10)"
                />
              </clipPath>
            </defs>
          </svg>
        </span>
        <span class="notif-number"> 20 </span>
      </div>
      <div
        class="notifiations-dropdown"
        [ngClass]="{ 'appear-notifiations-dropdown': viewNotifiations }"
      >
        <div class="head">
          <h1>
            <span> التنبيهات </span>
          </h1>
          <div class="close" (click)="viewDropNotifiations()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <circle cx="16" cy="16" r="16" fill="#E4E6E7" />
              <path
                d="M21.0039 21L11.0039 11"
                stroke="#535659"
                stroke-width="2"
                stroke-linecap="round"
              />
              <path
                d="M11.0039 21L21.0039 11"
                stroke="#535659"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </div>
        </div>
        <div class="content">
          <div class="notification-row">
            <h1>تيست</h1>
            <p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <g clip-path="url(#clip0_676_630)">
                  <path
                    d="M5.43359 0.855469V3.75739"
                    stroke="#A1A6AA"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                  <path
                    d="M10.5586 0.855469V3.75739"
                    stroke="#A1A6AA"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                  <path
                    d="M1.24948 12.0287C1.43387 13.6737 2.77094 14.9798 4.42434 15.0595C5.56714 15.1144 6.73455 15.1431 8.00157 15.1431C9.26859 15.1431 10.436 15.1144 11.5788 15.0595C13.2322 14.9798 14.5692 13.6737 14.7537 12.0287C14.8778 10.9209 14.9797 9.78515 14.9797 8.62817C14.9797 7.47121 14.8778 6.33546 14.7537 5.22768C14.5692 3.58266 13.2322 2.27656 11.5788 2.19693C10.436 2.14189 9.26859 2.11328 8.00157 2.11328C6.73455 2.11328 5.56714 2.14189 4.42434 2.19693C2.77094 2.27656 1.43387 3.58266 1.24948 5.22768C1.12531 6.33546 1.02344 7.47121 1.02344 8.62817C1.02344 9.78515 1.12531 10.9209 1.24948 12.0287Z"
                    stroke="#A1A6AA"
                    stroke-width="2"
                  />
                  <path
                    d="M1.34766 6.28711H14.7048"
                    stroke="#A1A6AA"
                    stroke-width="2"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_676_630">
                    <rect width="16" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <span> 2024/05/13 </span>
            </p>
          </div>
        </div>
        <div class="link">
          <p class="d-flex align-items-cente">
            <a> كل التنبيهات </a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
            >
              <path
                d="M5.39062 8.32812C6.75232 9.99009 7.67735 10.9688 9.04159 12.1397C9.59318 12.6131 10.4079 12.6131 10.9595 12.1397C12.3237 10.9688 13.2488 9.99009 14.6105 8.32812"
                stroke="#A1A6AA"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
