@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/style/main.scss";
.owl-nav {
    display: none;
}
.owl-stage {
    width: 1000% !important;
}
.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    background: #23556e 0% 0% no-repeat padding-box;
    opacity: 1;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    width: 18px;
    height: 8px;
    /* UI Properties */
    background: #23556e 0% 0% no-repeat padding-box;
    opacity: 1;
}
.owl-carousel.owl-rtl .owl-item {
    height: 279px !important;
    overflow: hidden;
    .bg {
        position: absolute;
        inset-inline-start: -80px;
        top: -200px;
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
    }

    .card-sm {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        position: absolute;
        top: 15px;
        inset-inline-end: 15px;
    }
    .card_data {
        inset-inline-end: 38px;

        position: relative;
        top: -44px;
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
    }
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: end !important;
    padding-inline-end: 15px;
    color: #d4d6d8;
    font-size: 17px;
    font-weight: 600;
    background: #23556e !important;
    opacity: 1;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.owl-carousel.owl-rtl .owl-item:first-of-type.active {
    .card-sm {
        position: absolute;
        top: 50px;
        inset-inline-start: 50px;
    }
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: end !important;
    padding-inline-end: 15px;
    color: #d4d6d8;
    font-size: 17px;
    font-weight: 600;
    .card_data {
        padding-bottom: 1rem;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        inset-inline-end: 0px;

        position: relative;
        top: 0px;
    }
    .bg {
        position: absolute;
        inset-inline-start: -80px;
        top: 0px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    width: 360px !important;
    background-color: #317372 !important;
}
.min-90 {
    width: 90% !important;
}
.add-account {
    height: 279px !important;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    min-width: 8%;
    .bg {
        position: absolute;
        inset-inline-start: -80px;
        top: 0px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    writing-mode: vertical-rl;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #317372 !important;
    font-size: 18px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
